<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">ODUSTANI</ion-button>
    </ion-buttons>

    <ion-title>Filter</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilter()" strong>OK</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <!-- Training date -->
    <ion-item>
      <ion-label>Datum treninga</ion-label>
      <ion-datetime [(ngModel)]="trainingDate" name="trainingdate" displayFormat="DD.MM.YYYY" value="" placeholder="Izaberite datum"></ion-datetime>

      <ion-button
        style="z-index: 1000 !important;"
        size="small"
        fill="outline"
        color="medium"
        (click)="removeTrainingDateSelection()"
      >
          <ion-icon name='close'></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Dance group -->
    <ion-item>
      <ion-label>Grupa</ion-label>
      <ion-select [(ngModel)]="trainingDanceGroupID" name="dancegroup" placeholder="Izaberite grupu" cancelText="Odustani" [disabled]="danceGroups.length === 1">
        <ion-select-option *ngFor="let group of danceGroups" value="{{ 'dgid_' + group.ID }}">{{ group.Name }}</ion-select-option>
      </ion-select>

      <ion-button
        style="z-index: 1000 !important;"
        size="small"
        fill="outline"
        color="medium"
        (click)="removeTrainingDanceGroupSelection()"
      >
          <ion-icon name='close'></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Location -->
    <ion-item>
      <ion-label>Lokacija</ion-label>
      <ion-select [(ngModel)]="trainingLocationID" name="location" placeholder="Izaberite lokaciju" cancelText="Odustani" [disabled]="locations.length === 1">
        <ion-select-option *ngFor="let location of locations" value="{{ 'locid_' + location.ID }}">{{ location.Name }}</ion-select-option>
      </ion-select>

      <ion-button
        style="z-index: 1000 !important;"
        size="small"
        fill="outline"
        color="medium"
        (click)="removeTrainingLocationSelection()"
      >
          <ion-icon name='close'></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Trainer -->
    <ion-item>
      <ion-label>Trener</ion-label>
      <ion-select [(ngModel)]="trainerUserID" name="trainer" placeholder="Izaberite trenera" cancelText="Odustani" [disabled]="trainers.length === 1">
        <ion-select-option *ngFor="let trainer of trainers" value="{{ 'trainerid_' + trainer.ID }}">{{ trainer.Name }}</ion-select-option>
      </ion-select>

      <ion-button
        style="z-index: 1000 !important;"
        size="small"
        fill="outline"
        color="medium"
        (click)="removeTrainingUserSelection()"
      >
          <ion-icon name='close'></ion-icon>
      </ion-button>
    </ion-item>
  </form>
</ion-content>
