<ion-grid style="height: 100%">
	<ion-row justify-content-center align-items-center style="height: 100%">
		<ion-col>
			<img src="/assets/studio5-logo.png" />
			<ion-item>
				<ion-input type="text" [(ngModel)]="username" placeholder="Korisničko ime"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="password" [(ngModel)]="password" placeholder="Lozinka"></ion-input>
			</ion-item>
			<ion-button size="large" expand="block" (click)="login()" style="margin-top: 30px;">Prijava</ion-button>
		</ion-col>
	</ion-row>
</ion-grid>
