<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">ODUSTANI</ion-button>
    </ion-buttons>

    <ion-title>Trening</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="save()" strong>OK</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <!-- Training date -->
    <ion-item>
      <ion-label>Datum treninga (*)</ion-label>
      <ion-datetime 
        presentation="date"
        [(ngModel)]="trainingDate"
        name="trainingdate"
        displayFormat="DD.MM.YYYY"
        value=""
        placeholder="Izaberite datum"
        (ionChange)="trainingDateChanged($event)">
      </ion-datetime>

      <ion-button
        style="z-index: 1000 !important;"
        size="small"
        fill="outline"
        color="medium"
        (click)="removeTrainingDateSelection()"
      >
          <ion-icon name='close'></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Dance group -->
    <ion-item>
      <ion-label>Grupa (*)</ion-label>
      <ion-select label="Plesna grupa" [(ngModel)]="trainingDanceGroupID" name="dancegroup" placeholder="Izaberite grupu" cancelText="Odustani" [disabled]="danceGroups.length === 1">
        <ion-select-option *ngFor="let group of danceGroups" value="{{ group.ID }}">{{ group.Name }}</ion-select-option>
      </ion-select>

      <ion-button
        style="z-index: 1000 !important;"
        size="small"
        fill="outline"
        color="medium"
        (click)="removeTrainingDanceGroupSelection()"
      >
          <ion-icon name='close'></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Training schedule -->
    <ion-item>
      <ion-label>Raspored (*)</ion-label>
      <ion-select label="Raspored" [(ngModel)]="trainingScheduleID" name="schedule" placeholder="Izaberite raspored" cancelText="Odustani" [disabled]="!schedulesToDisplay || schedulesToDisplay.length === 1">
        <ion-select-option *ngFor="let schedule of schedulesToDisplay" value="{{ schedule.ID }}">{{ schedule.Name }}</ion-select-option>
      </ion-select>

      <ion-button
        style="z-index: 1000 !important;"
        size="small"
        fill="outline"
        color="medium"
        (click)="removeTrainingScheduleSelection()"
      >
          <ion-icon name='close'></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Trainer -->
    <ion-item>
      <ion-label>Trener (*)</ion-label>
      <ion-select label="Trener" [(ngModel)]="trainerUserID" name="trainer" placeholder="Izaberite trenera" cancelText="Odustani" [disabled]="trainers.length === 1">
        <ion-select-option *ngFor="let trainer of trainers" value="{{ trainer.ID }}">{{ trainer.Name }}</ion-select-option>
      </ion-select>

      <ion-button
        style="z-index: 1000 !important;"
        size="small"
        fill="outline"
        color="medium"
        (click)="removeTrainingUserSelection()"
      >
          <ion-icon name='close'></ion-icon>
      </ion-button>
    </ion-item>
  </form>
</ion-content>
