<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">ODUSTANI</ion-button>
    </ion-buttons>

    <ion-title>Filter</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilter()" strong>OK</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item-divider color="light">
      <ion-label>Ime i/ili prezime plesača</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-input type="text" clearInput [(ngModel)]="modalData.FullName" name="fullname" placeholder=""></ion-input>
    </ion-item>

    <ion-item-divider color="light">
      <ion-label>Status plesača</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select label="Status" [(ngModel)]="modalData.Status" name="status" placeholder="Izaberite status" cancelText="Odustani">
        <ion-select-option value="all">Svi</ion-select-option>
        <ion-select-option value="active">Aktivni</ion-select-option>
      </ion-select>

      <ion-button
        style="z-index: 1000 !important;"
        size="small"
        fill="outline"
        color="medium"
        [hidden]="modalData.Status !== 'all' && modalData.Status !== 'active'"
        (click)="removeStatusSelection()"
      >
          <ion-icon name='close'></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-divider color="light">
      <ion-label>Grupa</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Grupa</ion-label>
      <ion-select label="Plesna grupa" [(ngModel)]="danceGroupID" name="dancegroup" placeholder="Izaberite grupu" cancelText="Odustani" [disabled]="danceGroups.length === 1">
        <ion-select-option *ngFor="let group of danceGroups" value="{{ 'dgid_' + group.ID }}">{{ group.Name }}</ion-select-option>
      </ion-select>

      <ion-button
        style="z-index: 1000 !important;"
        size="small"
        fill="outline"
        color="medium"
        [hidden]="modalData.DanceGroupID === undefined"
        (click)="removeDanceGroupSelection()"
      >
          <ion-icon name='close'></ion-icon>
      </ion-button>
    </ion-item>
  </form>
</ion-content>
